@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@500&family=Bree+Serif&family=Cairo:wght@400;700&family=Montserrat+Alternates:wght@300;400&family=Poppins:wght@100;200;400;600&family=Rajdhani:wght@300&family=Roboto:wght@100;300;400&display=swap');
body {
  margin: 0 ;
  font-family: 'Cairo', sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  direction: rtl;
  box-sizing: border-box;
}
/* 
a{
  text-decoration: none !important;
}
.list{
  margin-left: 350px;
}
.list-link{
  font-weight: 600 !important;
  font-size: 18px !important;
  color: rgb(247, 245, 245) !important;
}
.list-link:hover{
  box-sizing: border-box !important;
  color: #017457 !important;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.btn-contact {
  border:1px solid #017457 !important;

}
.hafazny-prag{
  font-size: 30px;
  font-weight: bold;
  color:rgb(97, 96, 96);
  letter-spacing: 0.1rem; 
  line-height: 2.5rem;

}
.more-than{
  font-weight: 600 !important;
  font-size: 30px !important;
}
.who{
  // font-weight: 600 !important; 
  font-size: 60px !important;
}
.hafazny-head{
  font-weight: 600 !important;
  font-size: 60px !important;
}
.hafazny-nav ,.hafazny-head ,.more-than ,.btn-contact a{
  color:#017457 !important;
}
img{
  border-radius: 5px ;
}
.more-prag{
  
  font-size:23px;
  color:rgb(73, 73, 73) !important;
}
.hafazny-nav ,.opin-head{
  
  font-size: 30px !important;
  font-weight: 400 !important;
}
.carosel{
  background-color: #017457;
  height: 70vh;
}
.hafazny-nav::after{
  content: '';
  position: absolute;
  bottom: 24px;
  right: 95px;
  width: 80px;
  border-bottom: 3px solid #017457;
}

.home-cont{
  height: 100vh;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('./hero-7N0lozEa.png') !important;
}

@media screen and (max-width:1200){
  .hafazny-head{
    font-size: 40px;
    font-weight: 500;
  }
  .hafazny-prag{
    
  }
} */